@CHARSET "UTF-8";
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
body{
	font-family: Georgia, "Times New Roman", 
             "Microsoft YaHei";
      font-size:12px;
}

h3 {
	color: #69BECD;
	border-bottom: 1px solid #CCCCCC;
	padding: 5px 0 5px 0px;
	margin: 10px 0px 10px 0px;
	font-weight: Bold;
	font-size: 130%;
}

h3.welcome{
border-bottom:none;
margin:20px;
}

h4.modal-title {
	font-size: 16px;
}

.table {
	margin: 20px 0px 20px 0px;
	font-size: 12px;
}

.btn-primary, .signup input[type="submit"]{
  color: #FFF;
  letter-spacing: 0.5px;
  border:none;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 0px;
  width: 85px;
  border-radius: 4px;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   -o-border-radius:4px;
  cursor: pointer;
  outline: none;
  margin:0px;
  background: rgb(1,194,194); /* Old browsers */
}

.btn-primary:hover ,.btn-primary:focus, .signup input[type="submit"]:hover , input[type="button"]:hover{
	background: #2ca5a5; /* Old browsers */
	transition: all 0.3s ease; 
     -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
     -o-transition: all 0.3s ease;
}

.modal-dialog{
	width:500px;
}

.resetPwdForm .form-control{
	width:40%;
}

.resetPwdForm .btn-primary{
	 font-size: 12px;
	 padding: 7px 0px;
	 width: 50px;
}
.resetPwdForm .btn-submit{
	clear:both;
	 margin-left:15px;
}

.resetPwdForm .col-sm-7{
	margin-bottom:5px;
}

ul.actionMessage,ul.errorMessage,.error,.message{
	color:red;
	font-style:italic;
	font-size:12px;
	padding-left:15px;
}
a{
	color:#61B0BE;
}
a:hover{
	cursor:pointer;
	text-decoration: none;
}

#projectList a#projectAdd,#moduleForm a#moduleAdd,#countSessionForm a#countSessionAdd{
	font-size:16px;
}

.datetimepicker .active{
background-color:#2ca5a5;
}

#moduleModal .modal-dialog{
	margin-top:200px;
}
