@CHARSET "UTF-8";
 #addPertItem {
	width: 100%;
}
.form-horizontal .control-label{
text-align:left;
}
.valueTitle{
width:22%;
text-align:center;
margin-top: 10px;
}
.pertItem{
margin-right:2px;
border: 1px solid #ccc;
border-radius: 4px;
height: 30px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
}
.footer {
	margin-left: 70%;
	margin-top:20px;
}

.footer .btn-primary {
	padding: 6px;
	width: 70px;
}
